main {
  width: 640px;
  height: 480;
  border: 5px solid black;
  border-radius: 9px;
  margin: 200px auto 72px auto;
  background-color: rgb(219, 108, 92);
  box-shadow: 3px 3px 5px black;
  padding: 24px;
}

img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  border-radius: 100px;
  margin-top: -134px;
}

h1 {
  font-size: 30px;
  /* margin: 0; */
}

span {
  color: rgb(90, 95, 80);
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: rgb(45, 55, 35);
  /* margin: 0; */
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: rgb(164, 7, 51);
}

a:hover {
  text-decoration: underline;
  color: rgb(42, 25, 189);
}
