body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: flex-end;
}

header ul li {
  text-align: end;
  padding: 16px 24px;
}

#page-logo a {
  font-family: "Oleo Script", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(245, 248, 165);
  text-shadow: 2px 1px 1px black;
  padding: 10px;
}
